@page "/categorias"
@using PCF.SPA.Components.Categoria
@attribute [Authorize]
@inject IWebApiClient WebApiClient
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>Categorias</PageTitle>

<MudContainer>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenAddCategoryDialog">Adicionar categoria</MudButton>
    <MudDataGrid T="CategoriaResponseViewModel" Items="_categories" Loading="_loading" Hover="true" Bordered="false" Striped="false" Filterable="false" EditMode="DataGridEditMode.Form" ReadOnly="false" CommittedItemChanges="@CommitEdit">
        <Columns>
            <PropertyColumn Property="x => x.Id" Editable="false" />
            <PropertyColumn Property="x => x.Nome" Editable="true" />
            <PropertyColumn Property="x => x.Descricao" Title="Descrição" Editable="true" Required="false" />
            <PropertyColumn Property="x => x.Padrao" Editable="false">
                <HeaderTemplate>
                    <span>Padrão?</span>
                    <MudTooltip Text="Categorias padrão não podem ser editadas ou excluídas">
                        <MudIconButton Icon="@Icons.Material.Filled.HelpOutline" Size="Size.Small" />
                    </MudTooltip>
                </HeaderTemplate>
                <CellTemplate>
                    @if (context.Item.Padrao)
                    {
                        <span>Sim</span>
                    }
                    else
                    {
                        <span>Não</span>
                    }
                </CellTemplate>
            </PropertyColumn>
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        @if (!context.Item.Padrao)
                        {
                            <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" title="Editar" Disabled="context.Item.Padrao" />
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete" OnClick="() => DeleteCategory(context.Item.Id)" title="Excluir" Disabled="context.Item.Padrao" />
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</MudContainer>

@code {
    private IEnumerable<CategoriaResponseViewModel> _categories = [];
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadCategoriesAsync();
    }

    private async Task LoadCategoriesAsync()
    {
        _loading = true;
        try
        {
            _categories = await WebApiClient.CategoriasAllAsync();
            _categories = _categories.OrderBy(x => x.Nome);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro não esperado: {ex.Message}", Severity.Error);
        }
        finally
        {
            _loading = false;
        }
    }

    private async Task OpenAddCategoryDialog()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = await DialogService.ShowAsync<AdicionarCategoriaDialog>("Nova categoria", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadCategoriesAsync();
        }
    }

    private async Task DeleteCategory(int id)
    {
        var options = new DialogOptions
            {
                CloseOnEscapeKey = true
            };

        bool? result = await DialogService.ShowMessageBox(
            "Confirmação",
            "Tem certeza que deseja deletar esta categoria?",
            yesText: "Sim", cancelText: "Não", options: options);

        if (result == true)
        {
            _loading = true;

            try
            {
                await WebApiClient.CategoriasDELETEAsync(id);
                Snackbar.Add("Categoria removida com sucesso.", Severity.Success);
                await LoadCategoriesAsync();
            }
            catch (ApiException e) when (e.StatusCode == (int)HttpStatusCode.NotFound)
            {
                Snackbar.Add("Categoria inexistente", Severity.Warning);
            }
            catch (ApiException<IEnumerable<string>> e) when (e.StatusCode == (int)HttpStatusCode.BadRequest && e.Result.Any())
            {
                Snackbar.Add(string.Join(", ", e.Result), Severity.Warning);
            }
            catch (Exception ex)
            {
                Snackbar.Add($"Erro ao deletar categoria: {ex.Message}", Severity.Error);
            }
            finally
            {
                _loading = false;
            }
        }
    }

    private async Task CommitEdit(CategoriaResponseViewModel item)
    {
        var request = new CategoriaRequestViewModel
            {
                Nome = item.Nome,
                Descricao = item.Descricao,
            };

        _loading = true;

        try
        {
            await WebApiClient.CategoriasPUTAsync(item.Id, request);
            Snackbar.Add("Categoria atualizada com sucesso.", Severity.Success);
        }
        catch (ApiException e) when (e.StatusCode == (int)HttpStatusCode.NotFound)
        {
            Snackbar.Add("Categoria inexistente", Severity.Warning);
        }
        catch (ApiException<IEnumerable<string>> e) when (e.StatusCode == (int)HttpStatusCode.BadRequest && e.Result.Any())
        {
            Snackbar.Add(string.Join(", ", e.Result), Severity.Warning);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao atualizar categoria: {ex.Message}", Severity.Error);
        }
        finally
        {
            await LoadCategoriesAsync();
            _loading = false;
        }
    }
}